# python's temps
**/.ipynb_checkpoints/
**/__pycache__/

# training outputs
runs/
# data files
# data/ # not in workshop, but in main repo
data/multiplets_10000_parsed.txt

# typically weights and data
*.pt

# gradio
.gradio/
