# python's temps
**/.ipynb_checkpoints/
**/__pycache__/

# training outputs
runs/
# data files
data/
# but not some peak lists
!data/multiplets_lists/

# typically weights and data
*.pt

# gradio
.gradio/

# package building
build/
*shimnet.egg-info/

# local
debugging/
run_trainings.sh