# python's temps
**/.ipynb_checkpoints/
**/__pycache__/

# training outputs
runs/

# data files
**/data/*
# but not some peak lists
!/data/multiplets_lists/
# data in subdirectories

# typically weights and data
*.pt

# gradio
.gradio/

# package building
build/
*shimnet.egg-info/

# credentials
credentials.json
notebooks/token.pickle

# local
debugging/
run_trainings.sh
.vscode/
